.card {
    &__container {
        width: 32.5rem;
        max-width: unset;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &__form {
        width: 100%;
        @include flex(center, center, column);
        gap: 0.5rem;
    }

    &__text {
        color: $gray;
        text-align: center;
        margin-bottom: 1rem;
    }
}
