//Customize Boostrap's Varibales
//Colors
$primary: #004a46;
$black: #101828;
$gray: #475467;

$light-rgb: #f9fafb;

$body-bg: #f9fafb;

$btn-color: #004a46;

$warning-text-emphasis: #b54708;
$warning-border-subtle: #fedf89;
$warning-bg-subtle: #fffaeb;

//Fonts
$font-family-base: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

$badge-font-weight: 400;

//My Varibales
//Colors
$box-shadow: #1018280f;
$border-color: #eaecf0;

//Borders
$border-lg: 12px;
