.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    width: 56px;
    height: 56px;

    border-radius: 12px;
    border: 1px solid $border-color;
}
