@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  background: #f9fafb;
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #161b26;
  }
}
