.alert {
    font-size: 12px;
    margin: 1.5rem 1rem;
    margin-bottom: 0 !important;
    width: calc(100% - 2rem);
    @include flex(normal, flex-start);
    gap: 0.5rem;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0 !important;
        border-radius: 0 !important;
        border-width: 0 0 1px 0 !important;
    }

    &__icon {
        margin-top: -0.5rem;
        margin-left: -0.5rem;
    }

    &__link {
        font-weight: bold;
        color: $warning-text-emphasis;
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .card {
        &__container {
            padding-top: env(safe-area-inset-top) !important;
            padding: 0;
            height: 46rem;
            width: 27.5rem;

            @include media-breakpoint-down(md) {
                height: 100%;
                width: 100%;
            }
        }

        &__header {
            width: 100%;
            @include flex(space-between, center);
            padding: 1.5rem 1rem;
            border-bottom: 1px solid $border-color;
            font-size: 18px;
            font-weight: 600;
        }

        &__content {
            display: flex;
            width: 100%;
            flex: 1;
            margin: 1.5rem 0;
            padding: 0 1rem;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.25rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary;
                border-radius: 0.5rem;
            }
        }

        &__empty {
            @include flex(center, center, column);
            gap: 0.5rem;
            padding: 1.5rem 2rem;
            text-align: center;
            font-size: 14px;
        }

        &__image {
            @include flex(center, center);
            margin-bottom: 0.75rem;
        }
    }
}
