.modal-header {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.share-title {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.choose-credential-text {
    color: var(--colors-text-text-tertiary-600, #40556b);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.modal-footer {
    border: none;
}
